<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>测试域对象</title>
</head>
<body>
    <h1>测试</h1>
    <a th:href="@{/testRequestByservletApi}">通过servletapi测试request</a><br/>
    <a th:href="@{/testmodelandview}">通过modelandview测试request</a><br/>
    <a th:href="@{/testmodel}">通过model测试request</a><br/>
    <a th:href="@{/testmap}">通过map测试request</a><br/>
    <a th:href="@{/testmodelmap}">通过modelmap测试request</a><br/>
    <a th:href="@{/testsession}">通过servletapi测试session</a><br/>
    <a th:href="@{/testapplication}">通过servletapi测试application</a><br/>

</body>
</html>